doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../style.css")
        title Document
    body 

        header.header 
            .header__logo 
                .container.header__container 
                    a.header__link(href="#")
                    img.logo__img(src="../assets/logos/logo2.svg", alt="") 
                    img.logo__img(src="../assets/logos/logo1.svg", alt="")

            nav.navbar 
                ol.nav__list 
                    a(href="#") 
                        li.list__item Asosiy
                    a(href="#") 
                        li.list__item Do'kon
                    a(href="#") 
                        li.list__item Buyurtmalar
                    a(href="#") 
                        li.list__item Servis haqida
                    a(href="#") 
                        li.list__item Yordam

        main.main
            section.hero-page 
                .row    
                    .col.col1 
                        .col_text 
                            h1.text_h1 Нужны баскетбольные кроссовки?
                            p.text_p Тут ты найдешь для себя лучшие кроссвоки для занятия баскетболом. У нас очень большой выбор!
                            button.btn_zakaz ZAKAZAT
                    .col.col2
                        .img_box 
                            img.img-hero(src="../assets/imgs/logo1.png", alt="")

            section.card_box 
                .img_card 
                    img.imgs(src="../assets/imgs/logo2.png", alt="")
                    
                    img.imgs(src="../assets/imgs/logo2.png", alt="")
                    
                    img.imgs(src="../assets/imgs/logo2.png", alt="")
                   
                    img.imgs(src="../assets/imgs/logo2.png", alt="")
                
                .img_krasov 
                    img.imgs(src="../assets/imgs/img1.png", alt="")
                    img.imgs(src="../assets/imgs/img2.png", alt="")
                    img.imgs(src="../assets/imgs/img3.png", alt="")
                    img.imgs(src="../assets/imgs/img4.png", alt="")
                .arrow_icons 
                    img.icon(src="../assets/imgs/arrow.png", alt="")
                    img.icon(src="../assets/imgs/arrow.png", alt="")
                    img.icon(src="../assets/imgs/arrow.png", alt="")
                    img.icon(src="../assets/imgs/arrow.png", alt="")
                .texts 
                    p.text  Kyrie
                    p.text  Jordan
                    p.text  LeBron 
                    p.text  Zoom Freak